@page "/login"
@using BlackDragonAI_Manager.BlbApi
@using BlackDragonAI_Manager.BlbApi.Models
@using Refit
@inject BlbApiHandler BlbApiHandler
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService

<link href="css/loginPage.min.css" rel="stylesheet">

<h3>Login</h3>
<div>
    <EditForm Model="@_user" OnValidSubmit="SubmitLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            <label>
                Username:
                <InputText id="username" @bind-Value="_user.Username" />
            </label>
        </p>

        <p>
            <label>
                Password:
                <InputText id="password" @bind-Value="_user.Password" />
            </label>
        </p>

        <button type="submit">log in</button>
    </EditForm>
</div>

@code {
    private User _user = new User();

    public async Task SubmitLogin()
    {
        BlbApiHandler.SetupUser(_user);
        try
        {
            var result = await BlbApiHandler.Authenticate();
            Console.WriteLine("Successfully logged in");
            Console.WriteLine($"Token: {result.Token}");

            await LocalStorageService.SetItemAsync<User>("user", this._user);

            NavigationManager.NavigateTo("commands");
        }
        catch(ApiException apiException)
        {
            var apiError = apiException.ToBlbApiError();

        }
    }
}
