@inherits LayoutComponentBase

<link href="css/main.min.css" rel="stylesheet">

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
@*     <div class="top-row px-4" id="header"> *@
@*         <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a> *@
@*     </div> *@

     <div class="content px-4">
         @Body
     </div>
</div>
